{% extends 'base.html.twig' %}
{# comments #}
{% block body %}
    <h1>{{ title }}</h1>
    <p>Some text</p>
    <h1>Comments ({{ comments|length }})</h1>
    <ul>
        {% for comment in comments %}
            <li>{{ comment }}</li>
        {% endfor %}
    </ul>
{% endblock %}